<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h2>All Years</h2>
    <form ng-submit="postData()">
    <h5>When I was a kid:  <input type="text" class="form-control" ng-model="post.kid"></h5>
    <h5>These days: <input type="text" class="form-control" ng-model="post.now"></h5>
    <h5>Year: <input type="text" class="form-control"  ng-model="post.year"></h5>
    <input type="submit" id="submit" value="submit">
  </div>
  <div class="col-md-offset-1 col-md-4 text-center">
    <h4>Pick a year</h4>
    <div ng-repeat="y in year">
      <a ng-href="/years/{{y.year}}">{{y.year}}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div ng-repeat="d in data.data">
      <div class="jumbotron text-center">
        <p>In the old days... {{d.old_days}}</p>
        <p>These days.. {{d.these_days}}</p>
      </div>
    </div>
  </div>
</div>
